.hero {
  margin-bottom: 20px;
  .hero_header {
    margin-bottom: 20px;
  }
}
.work_body {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.work_body_child {
  background-color: #1E1F23;
  padding: 20px;
  border-radius: .25rem;
}
.work_company {
  color: #09bc8a;
  margin-bottom: 3px;
}
.work_role {
  color: #CED4DA;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.work_text_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}