.hero {
  margin-bottom: 30px;
  .hero_header {
    margin-bottom: 20px;
  }
}
.projects_body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 60px;
}
.projects_body_child {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  @media (max-width: 900px) {
    flex-direction: column;
  }
}
.project_timeline {
  width: 20%;
  padding-top: 20px;
  color: #CED4DA;
  @media (max-width: 900px) {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 20px;
    /* padding-left: 20px; */
  }
}
.company {
  color: #09bc8a;
}
.project_parent_link {
  & p {
    color: #DEE2E6;
  }
}
.project_parent_link:hover {
  .company {
    color: #00ffbb;
  }
}
.project {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 10px;
  background-color: #191B1F;
  padding: 20px;
  border-radius: .25rem;
  @media (max-width: 900px) {
    width: 100%;
  }
  .project_body {
    display: flex;
    justify-content: left;
    gap: 20px;
    flex-flow: column-reverse;
  }
  /* & h3 {
    display: flex;
    gap: 8px;
  } */
  .project_description {
    /* width: fit-content; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    & p {
      text-align: left;
    }
    @media (max-width: 900px) {
      width: 100%;
    }
  }
  .project_link {
    color: #CED4DA;
    width: fit-content;
    /* display: flex; */
    /* align-items: center; */
    /* gap: 5px; */
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    .project_icon {
      height: 100%;
      display: inline-block;
    }
    & svg {
      fill: #09bc8a;
      transition: transform 100ms ease-in-out;
    }
  }
  .project_link:hover {
    color: #00ffbb;
    & svg {
      fill: #00ffbb;
      transform: translateX(1px) translateY(-3px);
    }
  }
}
.project:hover {
  background-color: #1E1F23;
}
.project_stack {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
  @media (max-width: 900px) {
    flex-direction: row;
  }
  .project_stack_element {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    background: #09bc8a20;
    border-radius: 20px;
    color: #00ffbb;
    font-size: 14px;
    @media (max-width: 900px) {
      width: fit-content;
    }
  }
}
.project_non_grid {
  width: 70%;
}
.project_image_link_container {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project_image_link {
  display: flex;
  /* flex-direction: column; */
  /* width: fit-content; */
  height: 200px;
  width: 100%;
  padding: 10px;
  align-items: flex-end;
  background-size: cover;
  background-position: left;
  border-radius: .25rem;
  @media (max-width: 900px) {
    background-position: center;
  }
  & p {
    font-weight: 700;
    width: 100%;
    text-align: center;
  }
  /* .project_image {
    position: relative;
    width: 300px;
    height: 300px;
  } */
}