.hero {
  margin-bottom: 30px;
  .hero_header {
    margin-bottom: 20px;
  }
}
.projects_body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 60px;
}
.projects_body_child {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.company {
  color: #09bc8a;
  /* text-decoration: underline; */
}
.project_parent_link {
  & p {
    color: #DEE2E6;
  }
}
.project_parent_link:hover {
  .company {
    color: #00ffbb;
  }
}
.project {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #191B1F;
  padding: 20px;
  border-radius: .25rem;
  .project_body {
    display: flex;
    justify-content: left;
    gap: 20px;
    flex-flow: column-reverse;
    /* @media (max-width: 900px) {
      flex-direction: column;
      flex-flow: column-reverse;
    } */
  }
  
  .project_description {
    /* width: fit-content; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    & p {
      text-align: left;
    }
    @media (max-width: 900px) {
      width: 100%;
    }
  }
  .project_link {
    /* color: #CED4DA; */
    width: fit-content;
    color: #09bc8a;
    & svg {
      margin-left: 5px;
      height: 15px;
      width: 15px;
      fill: #09bc8a;
    }
  }
  .project_link:hover {
    color: #00ffbb;
    & svg {
      fill: #00ffbb;
    }
  }
}
/* .project:hover {
  background-color: #1E1F23;
} */
.project_stack {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
  @media (max-width: 900px) {
    flex-direction: row;
  }
  .project_stack_element {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    background: #09bc8a20;
    border-radius: 20px;
    color: #00ffbb;
    font-size: 14px;
    @media (max-width: 900px) {
      width: fit-content;
    }
  }
}