* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root[data-mantine-color-scheme="dark"] {
  --mantine-color-body: #0f1012 !important;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00ffbb;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:hover {
  color: #00ffbb;
}

a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.solid_line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #09bc8a;
  margin-top: 20px;
  padding: 0;
}
.embedded_link {
  color: #09bc8a;
  & svg {
    fill: #09bc8a;
  }
}
.embedded_link:hover {
  color: #00ffbb;
  & svg {
    fill: #00ffbb;
  }
}
