.main {
  margin-top: 1rem;
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: left;
  min-height: 100vh;
}
.social_links {
  display: flex;
  align-items: center;
  gap: 8px;
  .social_link {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 4px;
    gap: 4px;
    /* background-color: grey; */
    & svg {
      fill: #FBFCFC;
      /* fill: #F8F9FA; */
      height: 30px;
      width: 30px;
    }
  }
  .social_link:hover {
    & svg {
      fill: #09bc8a;
    }
  }
}